<?xml version="1.0" encoding="utf-8"?>
<userconfig>
    <device number="1">
        <name>iPhone 5</name>
        <udid>2e58ffd37a53a8a3920f51b4ab73fe5e6a363d22</udid>
        <version>9.3.2</version>
        <bundleid>com.gemd.iting</bundleid>
        <type>iPhone</type>
    </device>
    <device number="2">
        <name>iPhone 5</name>
        <udid>2e58ffd37a53a8a3920f51b4ab73fe5e6a363d22</udid>
        <version>9.3.2</version>
        <bundleid>com.gemd.iting</bundleid>
        <type>iPhone</type>
    </device>
    <traversal>
        <level>10</level>
    </traversal>
    <ipa>
        <path>/Users/jenkins/.jenkins/jobs/ios_build_master/workspace/build/ting-*.ipa</path>
    </ipa>
</userconfig>